body{
    width: 100%;
    margin: auto;
}
.img-text{
    width: 100%;  
    text-align: center;/
}
.img-top{
    position:absolute;
    margin-top: -130px;
    margin-left: 380px;
}
h2{
    color: red;
}
.radius-100{
    border-radius: 100px;  
}
nav{
    background-image: linear-gradient(to right, #3558b3,#033165); 
    height:50px;
    width: 100%;
     display: flex;
}
nav ul{
    display: flex;
    gap:40px;
    list-style: none;
    width: 60%;
    margin: auto;
    padding: 0;
}
nav ul li{
    margin-left: auto;
    margin-right: auto;
}
nav ul li a{
    text-decoration: none;
    color:white;  
}
.active{
    font-weight: bold;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.nav-link{
    text-align: center;
    justify-content: center; 
    align-items: center;  
}
.width{
    /* display: flex; */
    width: 60%;
    margin: auto;
}
.left-58{
    position: absolute;
    margin-left: 58%;
    margin-top: -30px;
}
.size-20{
    font-size: 20px;
    text-decoration: underline;
}
.border-bottom{
    width: 120px;
    height: 2px;
    background-color: black;
    margin-top: -5px;
  
}
.padding-left{
    padding-left: 10px;
}
.width-60{
    width: 60%;
    margin: auto;
    display: flex;
    gap: 40px;
}
.margin-10{
    margin: 10px;

}
.padding-10{
    padding: 10px;
}
.home-body{
    border:1px  solid #000000;
    width: 350px;
    height:350px;
}
.margin-10{
    margin: 10px;
}
.padding-10{
    padding: 10px;
}
.border-bottom{
    width: 330px;
    height: 2px;
    background-color: rgba(31, 29, 29, 0.342);
    margin-left:10px;
}
.left-auto{
    position: absolute;
    margin-left: 290px;
}
.margin-left{
    margin-left: 10px;
}
.nav-bottom{
    background-color: #033165;
    width: 100%;
    height: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
hr{
    color: white;
}
.text-white{
    color: white;
}